*{
  font-family: Arial, Helvetica, sans-serif;
}
input, select, textarea{
  color: white;
}
.nugeta{
  margin: 150px auto;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  
}
.lastname{
  padding-left: 5%;
}
option{
  color: white;
}
.button2{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  
  }
  .button2:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  
  @media all and (max-width:30em){
  a.button1{
  display:block;
  margin:0.4em auto;
  }
}
